/* HERO */

body {
  font-family: 'Aleo', serif;
  font-family: 'Courgette', cursive;
  font-family: 'Sora', sans-serif;
  font-family: 'Tajawal', sans-serif;
}

#home {
  background-image: url(/images/footer-bg.webp);
  max-width: 100%;
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0, 5;
}

#contact {
  background-image: url(/images/bg-footer.webp) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20vh;
}

#portfolio {
  min-height: 60vh;
}

#about {
  min-height: 40vh;
}

.blur-container {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  max-width: 1000px;
}

h3 {
  letter-spacing: 3px;
  font-family: 'Tajawal', sans-serif;

}

h1{
  letter-spacing: 3px;
}


/* PROGRESS BAR / MY SKILLS */

.progress-bar-1 {
  width: 70%;
}

.progress-bar-2 {
  width: 60%;
}

.progress-bar-3 {
  width: 10%;
}

.progress-bar-4 {
  width: 30%;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* LOGO */

.logo {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: wheat;
}

/* NAVBAR */

.navbar {
  background-color: #ffffff !important;
}



.nav-link {
  font-weight: 500 !important;
  color: black !important;
}

.nav-link:hover {
  color: rgb(219, 230, 226) !important;
}

.btn:hover {
  color: rgb(113, 161, 144) !important;

}

#boxes {
  background-color: rgb(219, 230, 226);
}




#portfolio {
  background-color: rgb(219, 230, 226)!important;
}

li {
  font-size: 18px;
}

.img-thumbnail {
  border: 2px solid #000000;
}


/* FOOTER */

.text-footer {
  font-size: 22px !important;
  font-weight: bold;
}

/*
.footer-color {
  background-color: #f7f7f7 !important;
}
*/

.fa-brands:hover {
  color: rgb(219, 230, 226) !important;;
}

.line {
  border-top: 1px solid rgb(219, 230, 226);
  width: 200px;
}

a[href^="mailto:"]{
  color:rgb(113, 161, 144);
  text-decoration: none;
  font-size: 32px;
}
